<div class="mt-4">
  <h3>Thêm bài viết</h3>
  <form method="POST" action="/post/store">
    <input type="text" name="name" placeholder="Tiêu đề bài viết" />
    <input type="text" name="img" placeholder="URL ảnh" />
    <textarea name="content" placeholder="Nội dung bài viết"></textarea>
    <button type="submit">Thêm bài viết</button>
  </form>
</div>