<div class="mr-auto">
  <h1>{{post.name}}</h1>
  <div class="card" style="width: 18rem;">

    <img src={{post.img}} class="card-img-top" height="100" width="100" alt="..." />

    <div class="card-body">

      <h5 class="card-title">{{post.name}}</h5>

      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>